.page-header{
    color: var(--color-black-1);
    text-align: center;
    margin-bottom: var(--space-xl);
}
.page-header__title{
    @extend .heading1;
    margin-bottom: var(--space-base);
}

.page-header__subtitle{
    margin-bottom: var(--space-none);
}